.jumbotron {
  border-radius: 0px;
  background-image: url("/mountains.jpg");
  height: 300px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
